.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    overflow: hidden;

    border-radius: 20px;
    border-bottom: 1px solid #373563;

    padding: 20px;
    margin-bottom: 30px;
}

.todo:last-child{
    margin: 0;
}

.todo-header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.todo-title{
}

.todo-time{
    color: lightgrey;
    background: #3F4278;

    padding: 4px 15px;

    border-radius: 15px;
    border: 1px solid grey;
}

.todo-body{
    color: grey;
}

.todo-buttons{
    gap: 10px;
}
